@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
body {
  display: flex;
  justify-content: center;
}

main {
  max-width: 700px;
  min-height: 300px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #major-title {
  width: 450px;
}
main #title {
  text-align: left;
  font-size: 60px;
  margin-bottom: 30px;
}
main #form-task form #major-info {
  display: flex;
}
main #form-task form #major-info input {
  border-color: #bdbdbd;
  height: 50px;
  width: 350px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
  padding: 10px;
  font-size: 16px;
}
main #form-task form #major-info button {
  height: 50px;
  width: 100px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  background-color: #9c27b0;
  font-size: 18px;
  cursor: pointer;
  border-color: #bdbdbd;
  border: none;
}

#added-tasks {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
#added-tasks .new-note header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  height: 40px;
  max-width: 450px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  color: white;
  margin-top: 20px;
}
#added-tasks .new-note header .icons {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: end;
  padding-top: 5px;
  width: 300px;
}
#added-tasks .new-note header .icons div img {
  height: 15px;
  cursor: pointer;
}
#added-tasks .new-note header .icons div img:hover {
  height: 10px;
}
#added-tasks .new-note header .icons .label-note img {
  height: 10px;
}
#added-tasks .new-note header .icons .label-note img:hover {
  height: 10px;
}
#added-tasks .new-note div.content {
  padding: 10px;
  max-width: 450px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  width: 450px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid black;
}

#bg-modal-edit {
  background-color: rgba(0, 0, 0, 0.359);
  position: fixed;
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: none;
}

#modal-edit-task {
  background-color: white;
  border-radius: 20px;
  height: 160px;
  width: 450px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.364);
  padding: 30px;
}

#task-content > input {
  width: 380px;
  height: 30px;
  padding: 0px 6px;
  font-size: 16px;
  outline: none;
  border: none;
  font-size: 18px;
  border-bottom: 3px solid #9c27b0;
}

#options {
  width: 160px;
  height: 30px;
  margin-top: 10px;
  outline: none;
  border-radius: 10px;
}

#resources {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#edit-colors {
  display: flex;
  gap: 10px;
}
#edit-colors .color {
  margin-top: 10px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 0.8px solid black;
  cursor: pointer;
}
#edit-colors .color:hover {
  border-color: white;
}
#edit-colors #pink {
  background-color: #e91e63;
}
#edit-colors #pourple {
  background-color: #9c27b0;
}
#edit-colors #green {
  background-color: #30ae45;
}
#edit-colors #dark-blue {
  background-color: #3f51b5;
}

#btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
#btns button {
  height: 20px;
  width: 80px;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  color: #bdbdbd;
}
#btns button:hover {
  color: #838282;
}

.selected-color {
  height: 18px !important;
  width: 18px !important;
  border: 1px solid black !important;
}

.completed-task {
  text-decoration: line-through !important;
  color: #bdbdbd !important;
}

#labels-area {
  max-width: 470px;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
}
#labels-area div {
  display: flex;
  align-items: center;
  max-width: 470px;
  flex-wrap: wrap;
  gap: 8px;
}
#labels-area div #all-notes, #labels-area div .new-label {
  min-width: 95px;
  height: 30px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1.5px solid #bdbdbd;
  cursor: pointer;
  color: #bdbdbd;
}
#labels-area div .new-label {
  background: none;
  color: #bdbdbd;
}
#labels-area div #plus button {
  height: 30px;
  width: 50px;
  color: #bdbdbd;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}
#labels-area div #plus #new-label {
  display: none;
}
#labels-area div #plus #new-label #new-label-input {
  border: 1.5px solid #bdbdbd;
  outline: none;
  height: 30px;
  padding: 8px;
  border-radius: 15px;
  width: 120px;
  font-size: 16px;
}
#labels-area div #plus img {
  height: 30px;
  cursor: pointer;
}
#labels-area div #plus img:hover {
  height: 25px;
}

.selected-label {
  background-color: #9c27b0 !important;
  color: #fff !important;
}

@media (max-width: 470px) {
  main {
    padding: 0px;
  }
  main #major-title {
    width: 330px;
    margin-top: 70px;
  }
  main #major-title h1#title {
    font-size: 40px;
  }
  main #form-task {
    justify-content: center;
  }
  main #form-task form #major-info input {
    width: 280px;
  }
  main #form-task form #major-info button {
    width: 80px;
    font-size: 16px;
  }
  main #labels-area {
    grid-template-columns: 1fr 1fr;
  }
  #added-tasks .new-note header {
    max-width: 350px;
  }
  #added-tasks .new-note div.content {
    max-width: 350px;
  }
  #modal-edit-task {
    max-width: 380px;
  }
  #task-content > input {
    max-width: 320px;
  }
}
@media (max-width: 380px) {
  main {
    padding: 10px;
  }
  main #major-title {
    width: 300px;
    margin-top: 70px;
  }
  main #form-task {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  main #form-task form #major-info input {
    width: 250px;
  }
  main #form-task form #major-info button {
    width: 60px;
  }
  main #labels-area {
    grid-template-columns: 1fr 1fr;
  }
  #added-tasks .new-note header {
    max-width: 320px;
  }
  #added-tasks .new-note div.content {
    max-width: 320px;
  }
  #labels-area div #all-notes, #labels-area div .new-label {
    min-width: 85px;
  }
  #modal-edit-task {
    max-width: 330px;
  }
  #task-content > input {
    max-width: 280px;
    font-size: 16px;
  }
  #options {
    width: 120px;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

main {
  min-height: 110vh;
}

/*# sourceMappingURL=style.css.map */
