body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    header{
        width: 100%;
        padding: 10px;
        
        #title{  
            font-size: 60px;
        }
        button{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid $major-color;
            background: none;
            cursor: pointer;
            border-radius: 20px;
            padding: 5px;
            transition: 1s;
            img{
                height: 35px;
            }
        }
        button:hover{
            background-color: $major-color;
            color: white;
        }
    }
    max-width: 700px;
    min-height: 300px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    #form-task{
        form{
            #major-info{
                display: flex;
                input{
                    border-color: $label-color;
                    height: 50px;
                    width: 350px;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    outline: none;
                    padding: 10px;
                    font-size: 16px;
                }
                button{
                    height: 50px;
                    width: 100px;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    color: white;
                    background-color: $major-color;
                    font-size: 18px;
                    cursor: pointer;
                    border-color: $label-color;
                    border: none;
                }
            }
        }
    }
}


