#added-tasks{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    .new-note{
        header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $note-color-first;
            border: 1px solid black;
            height: 40px;
            width: 450px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 10px;
            color: white;
            margin-top: 20px;
            .icons{
                display: flex;
                align-items: center;
                gap: 20px;
                justify-content: end;
                padding-top: 5px;
                width: 300px;                    
                div{
                    img{
                        height: 15px;
                        cursor: pointer;
                    }
                    img:hover{
                        height: 10px;
                    }
                }
                .label-note{
                    img{
                        height: 10px;
                    }
                    img:hover{
                        height: 10px;
                    }
                }
            }
        }
        div.content{
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            width: 450px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border: 1px solid black;
        }
    }
}
